.home-page {
    height: 100vh;
    background: url("../images/bannerimage.jpeg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.home-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.home-text {
    position: relative;
    font-size: 80px;
}

.home-btn {
    position: relative;
}

form {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    padding: 5px;
}

.navbar-nav .nav-link:hover {
    background-color: #d1ecf1 !important;
    color: #0d6efd !important;
    border-radius: 8px;
}

.completed {
    text-decoration: line-through;
}

.card.card-body {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .card.card-body {
        width: 100%;
    }

    .delete-btn, .do-undo-btn {
        margin-top: 8px;
    }
}

@media screen and (max-width: 992px) {
    .do-undo-btn {
        margin-top: 8px;
    }
}

@media screen and (max-width: 420px) {
    .action-icon {
        display: none;
    }
}
