.banner-img {
    object-fit: cover;
    width: 100%;
}

.form {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
/*    color: #ffffff !important;*/
/*    font-size: 16px;*/
/*    transition: color 0.3s ease;*/
    padding: 5px;
}

.navbar-nav .nav-link:hover {
    background-color: #d1ecf1 !important;
    color: #0d6efd !important;
    border-radius: 8px;
    /*    text-decoration: underline;*/
}

.login-form {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.completed {
    text-decoration: line-through;
}

.card.card-body {
    width: 60%;
}

@media screen and (max-width: 768px) {
    .card.card-body {
        width: 100%;
    }
}
