<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
<div class="container vh-100">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 mt-4">
            <!--    Edit form-->
            <form th:action="@{'/todo/process-edit-todo/' + ${todoId}}" method="post" th:object="${edittodo}"
                  class="p-3">
                <div class="fs-1 text-center mb-2">Edit Task!</div>

                <!--        Title-->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control"
                           th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" id="title" name="title"
                           th:value="${edittodo.title}">
                    <div th:each="e: ${#fields.errors('title')}" class="invalid-feedback" th:text="${e}"></div>
                </div>

                <!--        Description-->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control"
                           th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" id="description"
                           name="description" th:value="${edittodo.description}">
                    <div th:each="e: ${#fields.errors('description')}" class="invalid-feedback" th:text="${e}"></div>
                </div>

                <!--        Priority-->
                <div class="form-floating mb-3">
                    <select class="form-select" name="priority" id="prioritySelect">
                        <option value="1" th:selected="${edittodo.priority == 1}">High</option>
                        <option value="2" th:selected="${edittodo.priority == 2}">Medium</option>
                        <option value="3" th:selected="${edittodo.priority == 3}">Low</option>
                    </select>
                    <label for="prioritySelect">Priority</label>
                </div>

                <!--        Due Date-->
                <div class="mb-3">
                    <label for="dueDate" class="form-label">Due Date</label>
                    <input type="datetime-local" class="form-control"
                           th:classappend="${#fields.hasErrors('dueDate') ? 'is-invalid' : ''}" id="dueDate"
                           name="dueDate"
                           th:value="${edittodo.dueDate}">
                    <div th:each="e: ${#fields.errors('dueDate')}" class="invalid-feedback" th:text="${e}"></div>
                </div>

                <!--        Buttons-->
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-warning col-auto me-3" onclick="goHome()"><i
                            class="bi bi-arrow-left-circle"></i>
                        Back
                    </button>
                    <button type="submit" class="btn btn-primary col-auto"><i class="bi bi-pencil"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>