<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/head :: head}"></th:block>
<body>
<th:block th:replace="~{/fragments/navbar :: nav}"></th:block>
<div class="container">
    <form class="row justify-content-center signup-form mx-auto mt-3 p-3 needs-validation" method="post"
          th:action="@{/process}"
          th:object="${signupdto}" novalidate>
        <div class="fs-1 text-center">Signup Here!</div>
        <div class="alert alert-danger text-center col-md-6 p-1 mt-2" role="alert" th:if="${error}"
             th:text="${errorMsg}"
        >
        </div>
        <div class="alert alert-success text-center col-md-6 p-1 mt-2" role="alert" th:if="${success}"
        >Signed Up Successfully!
        </div>
        <div class="mb-3 col-md-8">
            <label class="form-label" for="name">Full Name</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                   id="name" name="name" th:value="${signupdto.name}" type="text">
            <div th:each="e: ${#fields.errors('name')}" class="invalid-feedback" th:text="${e}"></div>
        </div>
        <div class="mb-3 col-md-8">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                   id="email" name="email" th:value="${signupdto.email}" type="email">
            <div th:each="e: ${#fields.errors('email')}" class="invalid-feedback" th:text="${e}"></div>
        </div>
        <div class="mb-3 col-md-8">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                   id="password" name="password" th:value="${signupdto.password}" type="password">
            <div th:each="e: ${#fields.errors('password')}" class="invalid-feedback" th:text="${e}"></div>
        </div>
        <div class="form-check mb-3 col-md-8 ms-4">
            <input class="form-check-input" th:classappend="${#fields.hasErrors('agreed') ? 'is-invalid' : ''}"
                   id="agreed" name="agreed" th:checked="${signupdto.agreed}" type="checkbox">
            <label class="form-check-label" for="agreed">
                Agree to terms and conditions
            </label>
            <div th:each="e: ${#fields.errors('agreed')}" class="invalid-feedback" th:text="${e}"></div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary col-auto me-2" type="submit">Submit</button>
            <button class="btn btn-warning col-auto" type="reset">Reset</button>
        </div>
    </form>
</div>
</body>
</html>