<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

<div class="container">
    <div class="fs-1 my-2">Welcome <span th:text="${loggedInUser}"></span> to your Dashboard!</div>

    <div class="row justify-content-between">
        <!-- Add Task Button -->
        <a th:href="@{/todo/add}">
            <button class="btn btn-primary" type="button">Add Task
            </button>
        </a>

        <!-- Sort By -->
        <div>
            <label for="sortSelect">Sort By</label>
            <select class="form-select" name="sortBy" id="sortSelect">
                <option value="1" selected>Due Date</option>
                <option value="2">Priority</option>
            </select>
        </div>
    </div>

    <!--    Table showing the todos-->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th scope="col">Tasks</th>
            <th scope="col">Priority</th>
            <th scope="col">Due</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="task : ${tasks}" th:classappend="${task.priority == 1 ? 'table-danger' : ''}">
            <td>
                <div th:text="${task.title}" th:classappend="${task.isCompleted ? 'completed' : ''}"></div>
                <hr>
                <div th:text="${task.description}"></div>
            </td>
            <td th:switch="${task.priority}">
                <span th:case="'1'">High</span>
                <span th:case="'2'">Medium</span>
                <span th:case="'3'">Low</span>
            </td>
            <td th:text="${#temporals.format(task.dueDate, 'dd-MM-yy HH:mm')}"></td>

            <!--            Action buttons-->
            <td>

                <!--                Edit button-->
                <form th:action="@{/todo/edit/{id}(id=${task.todoId})}" method="post"
                      style="display: inline;">
                    <button class="btn btn-primary"><i class="bi bi-pencil"></i> Edit
                    </button>
                </form>

                <!--                Delete button-->
                <button class="btn btn-danger delete-btn" th:onclick="handleDelete([[${task.todoId}]])">
                    <i class="bi bi-trash"></i> Delete
                </button>

                <!--                Do/Undo button-->
                <form th:action="@{/todo/done/{id}(id=${task.todoId})}" method="post"
                      style="display: inline;">
                    <button class="btn btn-warning do-undo-btn">
                        <i class="bi " th:classappend="${task.isCompleted ? 'bi-ban' : 'bi-check-circle'}"></i>
                        <span th:text="${task.isCompleted} ? 'Undo' : 'Done'"></span>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <nav th:if="${totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/user/home?pageNumber=' + ${currentPage - 1}}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:href="@{'/user/home?pageNumber=' + ${i - 1}}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1  ? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/user/home?pageNumber=' + ${currentPage + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>