<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

<div class="container">
    <div class="fs-1 mt-2">Welcome <span th:text="${loggedInUser}"></span> to your Dashboard!</div>

    <p class="d-inline-flex gap-1 mt-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#addTaskCollapse">
            Add Task
        </button>
    </p>
    <div class="collapse" th:classappend="${showTodoForm ? 'show' : ''}" id="addTaskCollapse">
        <div class="card card-body">
            <!--            Add task form-->
            <form th:action="@{/user/process-todo}" method="post" th:object="${newtodo}" class="p-3">

                <!--                Title-->
                <div class="mb-3">
                    <input type="text" class="form-control"
                           th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" id="title" name="title"
                           placeholder="Title"
                           th:value="${newtodo.title}">
                    <div th:each="e: ${#fields.errors('title')}" class="invalid-feedback" th:text="${e}"></div>
                </div>

                <!--                Description-->
                <div class="mb-3">
                    <input type="text" class="form-control"
                           th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" id="description"
                           name="description"
                           placeholder="Description" th:value="${newtodo.description}">
                    <div th:each="e: ${#fields.errors('description')}" class="invalid-feedback" th:text="${e}"></div>
                </div>

                <!--                Priority-->
                <div class="form-floating mb-3">
                    <select class="form-select" name="priority" id="prioritySelect">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low" selected>Low</option>
                    </select>
                    <label for="prioritySelect">Priority</label>
                </div>

                <!--                Due Date-->
                <div class="mb-3">
                    <input type="text" class="form-control"
                           th:classappend="${#fields.hasErrors('dueDate') ? 'is-invalid' : ''}" id="dueDate"
                           name="dueDate" placeholder="Due"
                           th:value="${newtodo.dueDate}">
                    <div th:each="e: ${#fields.errors('dueDate')}" class="invalid-feedback" th:text="${e}"></div>
                </div>

                <!--                Submit-->
                <button type="submit" class="btn btn-primary me-3"><i class="bi bi-plus-circle"></i> Add</button>
            </form>
        </div>
    </div>

    <!--    Table showing the todos-->
    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th scope="col">Tasks</th>
            <th scope="col">Priority</th>
            <th scope="col">Due</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="task : ${tasks}" th:classappend="${task.priority == 'High' ? 'table-danger' : ''}">
            <td>
                <div th:text="${task.title}" th:classappend="${task.isCompleted ? 'completed' : ''}"></div>
                <hr>
                <div th:text="${task.description}"></div>
            </td>
            <td th:text="${task.priority}"></td>
            <td th:text="${#temporals.format(task.dueDate, 'dd-MM-yy HH:mm')}"></td>

            <!--            Action buttons-->
            <td>

                <!--                Edit button-->
                <form th:action="@{/todo/edit/{id}(id=${task.todoId})}" method="post"
                      style="display: inline;">
                    <button class="btn btn-primary"><i class="bi bi-pencil"></i> Edit
                    </button>
                </form>

                <!--                Delete button-->
                <button class="btn btn-danger delete-btn" th:onclick="handleDelete([[${task.todoId}]])">
                    <i class="bi bi-trash"></i> Delete
                </button>

                <!--                Do/Undo button-->
                <form th:action="@{/todo/done/{id}(id=${task.todoId})}" method="post"
                      style="display: inline;">
                    <button class="btn btn-warning do-undo-btn">
                        <i class="bi " th:classappend="${task.isCompleted ? 'bi-ban' : 'bi-check-circle'}"></i>
                        <span th:text="${task.isCompleted} ? 'Undo' : 'Done'"></span>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>